<div class="container-fluid">
  <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <div class="card">
      <div class="card-header">
        Selamat Datang
      </div>
      <div class="card-body">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" [(ngModel)]="formLogin.email">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" [(ngModel)]="formLogin.password">
        </div>

        <!--
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        -->

        <button type="button" class="btn btn-success w-100" (click)="loginPassword()">Login</button>
        <div class="d-flex justify-content-center py-3">
          atau
        </div>
        <button class="btn btn-primary w-100" (click)="loginGoogle()">Login dengan Google</button>
      </div>
    </div>
  </div>
</div>
