<header class="ng-scope">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-md-12 d-none d-sm-block">
                <nav class="navbar navbar-light navbar-expand-md fixed-top bg-light shadow-sm">
                    <div class="container-fluid">
                        <a class="navbar-brand logo-header" routerLink="/dashboard" style="border-style: none;">
                            <img class="img-fluid" src="/assets/img/java-code.png" width="100%">
                        </a>
                        <div class="d-none d-sm-block topbar-divider-kiri"></div>
                        <button data-bs-toggle="collapse" data-bs-target="#navcol-2" class="navbar-toggler">
                          <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navcol-1">
                            <ul class="navbar-nav">
                                <li class="nav-item" style="margin-right: 1rem;">
                                    <div class="nav-item dropdown nav-setting-link">
                                        <a class="active nav-setting-link" aria-expanded="false" data-bs-toggle="dropdown" href="/setting-menu.html">Setting</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="/setting-menu.html">Menu</a>
                                            <a class="dropdown-item" routerLink="/custommers">Customer</a>
                                            <a class="dropdown-item" href="/setting-promo.html">Promo</a>
                                            <a class="dropdown-item" href="/setting-diskon.html">Diskon</a>
                                            <a class="dropdown-item" href="/voucher-customer.html">Voucher</a>
                                            <a class="dropdown-item" routerLink="/users">Users</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="nav-item dropdown nav-setting-link">
                                        <a aria-expanded="false" data-bs-toggle="dropdown" class="nav-setting-link" href="#">Laporan</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item text-capitalize" href="/rekap-penjualan-menu.html">Penjualan menu</a>
                                            <a class="dropdown-item text-capitalize" href="/rekap-penjualan-customer.html">penjualan customer</a>
                                            <a class="dropdown-item text-capitalize" href="/laporan-penjualan.html">Penjualan</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="collapse navbar-collapse d-lg-flex d-xl-flex d-xxl-flex justify-content-lg-end justify-content-xl-end" id="navcol-2">
                            <ul class="navbar-nav d-lg-flex d-xl-flex d-xxl-flex align-items-lg-center align-items-xl-center align-items-xxl-center ml-auto">
                                <li class="nav-item d-xl-flex d-xxl-flex"></li>
                                <li class="nav-item"></li>
                            </ul>
                            <ul class="navbar-nav d-lg-flex d-xl-flex d-xxl-flex flex-nowrap ms-auto align-items-lg-center align-items-xl-center align-items-xxl-center">
                                <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i class="fas fa-search"></i></a>
                                    <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in" aria-labelledby="searchDropdown">
                                        <form class="me-auto navbar-search w-100">
                                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                                <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                            </div>
                                        </form>
                                    </div>
                                </li>
                                <li class="nav-item dropdown no-arrow mx-1">
                                    <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="badge bg-danger badge-counter">3+</span><i class="fas fa-bell fa-fw"></i></a>
                                        <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                                            <h6 class="dropdown-header">alerts center</h6>
                                            <a class="dropdown-item d-flex align-items-center" href="#">
                                                <div class="me-3">
                                                    <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                                                </div>
                                                <div><span class="small text-gray-500">December 12, 2019</span>
                                                    <p class="notification-timestamp">A new monthly report is ready to download!</p>
                                                </div>
                                            </a>
                                            <a class="dropdown-item d-flex align-items-center" href="#">
                                                <div class="me-3">
                                                    <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>
                                                </div>
                                                <div><span class="small text-gray-500">December 7, 2019</span>
                                                    <p class="notification-timestamp">$290.29 has been deposited into your account!</p>
                                                </div>
                                            </a>
                                            <a class="dropdown-item d-flex align-items-center" href="#">
                                                <div class="me-3">
                                                    <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>
                                                </div>
                                                <div><span class="small text-gray-500">December 2, 2019</span>
                                                    <p class="notification-timestamp">Spending Alert: We've noticed unusually high spending for your account.</p>
                                                </div>
                                            </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item dropdown no-arrow mx-1">
                                    <div class="shadow dropdown-list dropdown-menu dropdown-menu-end" aria-labelledby="alertsDropdown"></div>
                                </li>
                                <div class="d-none d-sm-block topbar-divider"></div>
                                <li class="nav-item dropdown no-arrow">
                                    <div class="nav-item dropdown nav-setting">
                                        <a class="dropdown-toggle d-xl-flex align-items-xl-center" aria-expanded="false" data-bs-toggle="dropdown" href="#"><img class="img-fluid" style="height: 3rem;width: 3rem;margin-right: 15px;border-radius: 100%;box-shadow: 1px 1px 4px rgba(46,46,46,0.5);" width="100%" src="/assets/img/avatars/avatar3.jpeg">
                                            <span style="font-size: medium;font-weight: bold;letter-spacing: 1px;">Admin</span>
                                        </a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="/user.html">
                                                <i class="fa fa-user fa-admin"></i>User
                                            </a>
                                            <a class="dropdown-item" href="/hak-akses.html">
                                                <i class="fa fa-sign-out fa-admin"></i>Hak Akses
                                            </a>
                                            <a class="dropdown-item" href="/login.html">
                                                <i class="fa fa-sign-out fa-admin"></i>Logout
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<section id="content-wrapper">
    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>
</section>