<div class="row">
    <div class="col-lg-12 col-xl-12">
        <div class="div-form" style="/*padding: 0px 50px 0px 50px;*/padding-bottom: 0px;">
            <div class="header-tabeldiv">
                <div class="row">
                    <div class="col-9">
                        <div class="d-flex">
                            <h2 class="text-capitalize fw-bold m-0 heading-judul">Setting Users</h2>
                            <button type="button" class="btn btn-sm btn-primary ms-3" data-bs-toggle="modal" data-bs-target="#modal-new">Add</button>
                        </div>
                    </div>
                    <div class="col text-end">
                        <ul class="d-lg-flex justify-content-lg-end breadcrumb m-0">
                            <li class="breadcrumb-item ng-star-inserted"><a href="/index.html">Setting</a></li>
                            <li class="breadcrumb-item active ng-star-inserted">Users</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card dashboard">
                <div class="card-body">
                    <div class="row mt-2">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover table-borderless">
                                    <thead>
                                        <tr style="color: #009aad;background-color: #f5f5f5;">
                                            <th scope="col">ID#</th>
                                            <th scope="col">Nama</th>
                                            <th scope="col">Email</th>
                                            <th scope="col" colspan="2">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let user of users">
                                            <td>{{ user.id }}</td>
                                            <td>{{ user.name }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>
                                                <button class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#modal-edit" (click)="edit(user)">Edit</button>
                                            </td>
                                            <td>
                                                <button class="btn btn-sm btn-danger" (click)="delete(user.id)">Delete</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 align-self-center">
                            <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                        </div>
                        <div class="col-md-6">
                            <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                <ul class="pagination">
                                    <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- begin:ModalCreate -->
<div class="modal fade" id="modal-new" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">User Registration</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" [(ngModel)]="registration.name">
                    <label>Nama</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" [(ngModel)]="registration.email">
                    <label>Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" [(ngModel)]="registration.password">
                    <label>Password</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" [(ngModel)]="registration.address">
                    <label>Alamat</label>
                </div>
                <div class="form-floating">
                    <input type="text" class="form-control" [(ngModel)]="registration.phone">
                    <label>No. Telpon</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="register()">Register</button>
            </div>
        </div>
    </div>
</div>
<!-- end:ModalCreate -->

<!-- begin:ModalCreate -->
<div class="modal fade" id="modal-edit" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" [(ngModel)]="editCache.name">
                    <label>Nama</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" [(ngModel)]="editCache.email">
                    <label>Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" [(ngModel)]="editCache.profile.address">
                    <label>Alamat</label>
                </div>
                <div class="form-floating">
                    <input type="text" class="form-control" [(ngModel)]="editCache.profile.phone">
                    <label>No. Telpon</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="save()">Update</button>
            </div>
        </div>
    </div>
</div>
<!-- end:ModalCreate -->